main{
    position: relative;
    height: 100vh;
}
.mobil-bg{
    display: none;
}
.bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.pc-bg{
    display: block;
}
.pc-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 100px;
}
.iframe{
    margin-top: 100px;
    height: 600px;
    width: 100%;
}
@media (max-width: 1366px){
    .iframe {
        margin-top: 20px;
        height: 500px;
    }
    .logo img{
        height: 55px;
    }
}
@media (max-width: 1000px){
    .iframe{
        height: 210px;
    }
    .logo img{
        height: 50px;
    }
    .mobil-bg{
        display: block;
    }
    .pc-bg{
        display: none;
    }
    .mobil-bg-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 500px){
    .iframe{
        margin-top: 50px;
        height: 400px;
    }
    .logo img{
        height: 50px;
    }
    .mobil-bg{
        display: block;
    }
    .pc-bg{
        display: none;
    }
}